
<div style="margin-top: 40px;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 well">
            <form method="post" action="/home/AddPerson">
                <input type="text" class="form-control" placeholder="First Name" name="firstName" />
                <br />
                <input type="text" class="form-control" placeholder="Last Name" name="lastName" />
                <br />
                <input type="text" class="form-control" placeholder="Age" name="age" />
                <br />
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>